" You can find a list of commands here: https://jb.gg/h38q75
" Enable IdeaVim plugins https://jb.gg/ideavim-plugins
let mapleader = " "

""" Plugins ------------------------------------------
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

""" Idea settings ------------------------------------
set number relativenumber
set idearefactormode=keep
set scrolloff=5
set ideajoin
" set incsearch

""" Mapping ------------------------------------------
inoremap kk <Esc>
nmap <S-Enter> O<Esc>
nmap <CR> o<Esc>
nnoremap <C-j> :m +1<CR>
nnoremap <C-k> :m -2<CR>
inoremap <C-j> <Esc>:m +1<CR>gi
inoremap <C-k> <Esc>:m -2<CR>gi
nmap <A-j> 5j
nmap <A-k> 5k
vnoremap <A-j> 5j
vnoremap <A-k> 5k
nnoremap <A-l> $
nnoremap <A-h> _
vmap <A-l> $
vmap <A-h> _

" clipboard
vmap <leader>y "+y
nmap <leader>y "+yy
vmap <leader>d "+d
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P

" actions
nmap <leader>i <action>(Generate)
nmap <leader>m <action>(Git.Menu)
nmap <leader>s <action>(QuickChangeScheme)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)

""" Idea shortcut ---------------------------------------
"shift+alt+l -> nextTab
"shift+alt+h -> previousTab
"alt+w -> closeTab
"Shift+0 -> reload ideavimrc
"ctl+alt+l -> formatting
"alt+a -> autoCompletion
"alt+t -> terminal
"ctrl+e -> recentFiles
"ctrl+f -> quickSearch
"alt+n -> next selection with cursor

""" idea plugins -----------------------------------------
" atom icons
" ideavim
